main {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    padding: .5rem;
}

#file-root {
    /* this allows for dropping when there are only folders */
    padding-bottom: 1rem;
}

.directory-list {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: .25rem;

    & > li {
        list-style-type: none;
    }
}

.dragged {
    opacity: 0.5;
}

.drag-active .drag-over {
    outline: 1px solid var(--accent-light);
    border-radius: .5rem;
}

/* Hack to make DnD work better with clickable things, which would normally consume the corresponding events. */
.drag-active li[data-type="directory"], .drag-active #file-root {
    position: relative;

    &::after {
        display: block;
        content: "";
        position: absolute;
        inset: 0;
    }
}

.drag-active li[data-type="directory"]::after {
    z-index: 11;
}

.drag-active #file-root::after {
    z-index: 10;
}


.directory-list li.search-hidden {
    display: none;
}

.directory-list:not(#file-root) {
    margin-left: 2rem;
}

.directory-empty-options {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    margin-left: 2rem;
}

.directory-list:empty + .directory-empty-options {
    display: flex;
}

.entry-main {
    display: block;
    width: 100%;
    background-color: var(--bg-light);
    padding: .5rem;
    border: none;
    border-radius: .5rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
}

.entry-main > .filename {
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0;
}

summary.entry-main {
    cursor: pointer;
    &::marker {
        content: "";
    }
}

details > .directory-list {
    margin-top: .25rem;

    interpolate-size: allow-keywords;
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
}

details[open] > .directory-list {
    height: auto;
}

.directory-icon-open, .directory-icon-closed {
    color: var(--accent-light);
}

details[open] > .entry-main > .directory-icon-closed {
    display: none;
}

details:not([open]) > .entry-main > .directory-icon-open {
    display: none;
}

.icon-picture {
    color: dodgerblue;
}

#file-controls {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.file-controls-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    padding: .25rem;
    border-radius: .5rem;
    background-color: var(--bg-light);
}

.file-controls-group .divider {
    height: 100%;
    border-right: 1px solid #7f7f7f7f;
}

#upload-file-input {
    display: none;
}

#search-nothing-found {
    text-align: center;
    display: none;
    &.shown {
        display: block;
    }
}
