#file-detail {
    .file-actions {
        display: flex;
        flex-flow: row nowrap;
        gap: .5rem;
    }
}

#file-action-area.share {
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    width: 20rem;

    pre {
        min-width: 0;
    }
}

img#file-detail-preview {
    display: block;
    border-radius: .25rem;

    object-fit: contain;
    max-height: 20rem;
}
