#file-detail {
    .file-actions {
        display: flex;
        flex-flow: row nowrap;
        gap: .5rem;
    }
}

#file-action-area.share {
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    width: 20rem;

    pre {
        min-width: 0;
    }
}

#file-action-area.delete {
    display: grid;
    grid-template-areas:
        "text text"
        "yes no";
    gap: .5rem;

    .file-delete-text {
        grid-area: text;
    }

    button {
        display: block;
        text-align: center;
    }

    .file-delete-yes {
        grid-area: yes;
    }

    .file-delete-no {
        grid-area: no;
    }
}

img#file-detail-preview {
    display: block;
    border-radius: .25rem;

    object-fit: contain;
    max-height: 20rem;
}
