body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

#login-wrapper {
    display: grid;
    place-items: center;
    flex-grow: 1;
}

form#login h2 {
    text-align: center;
    margin: 0;
}
